* {
  box-sizing: border-box;
  font-family: cursive;
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  max-width: 700px;
  align-items: center;
  border: 2px solid rgb(255, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 2rem;
  padding-top: 20px;
}
.page h1 {
  margin: 1.5vw 0;
}

.buttons__container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.buttons__container button {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
  border: 1px solid;
  -o-border-image: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
     border-image: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
  box-shadow: 0px 0px 6px 0px;
}

.game__info {
  margin: 10px auto;
  display: flex;
  gap: 60px;
}

.fifteen {
  width: 100%;
  padding-bottom: 90%;
  position: relative;
  background: linear-gradient(282deg, rgb(207, 199, 199), rgb(187, 187, 187) 90.71%), linear-gradient(338deg, rgba(128, 131, 128, 0), rgb(191, 191, 191) 70.71%);
  margin-bottom: 1.5rem;
  border-radius: 10px;
}
.fifteen .item {
  position: absolute;
  left: 0;
  top: 0;
  border-width: 2px;
  border-color: rgba(186, 186, 186, 0.4196078431);
  border-radius: 10%;
  background-color: #000000;
  background: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.6s;
}
.fifteen .item.selected {
  background: linear-gradient(44deg, rgba(213, 29, 29, 0.637), rgb(239, 208, 208));
}
.fifteen .item-val {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 84%;
  border-radius: 10px;
  margin: 8%;
  box-shadow: inset 4px 4px 5px 4px rgba(102, 99, 104, 0.1215686275), inset -4px -4px 5px 4px rgba(102, 99, 104, 0.1215686275);
}
.fifteen .item:active {
  outline: none;
}
.fifteen .item:focus {
  outline: none;
}
@media screen and (max-width: 640px) {
  .fifteen .item {
    font-size: 25px;
  }
}

.frame__container {
  isplay: flex;
  flex-direction: column;
}

.select__size p div {
  display: inline-flex;
  gap: 10px;
}

.size__link.active {
  color: red;
}

.checkbox-container {
  position: absolute;
  left: calc(50% - 43px);
  top: 10px;
}
.checkbox-container::before {
  content: "Sound off";
  position: absolute;
  left: -90px;
  z-index: 200;
  top: 5px;
  color: #201f1b;
}
.checkbox-container::after {
  content: "Sound On";
  position: absolute;
  right: -170px;
  z-index: 200;
  top: 5px;
  color: #201f1b;
}

.checkbox {
  visibility: hidden;
}

.checkbox-group {
  position: absolute;
  z-index: 50;
  width: 86px;
  height: 30px;
  background-color: #333;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.checkbox-group::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  height: 2px;
  width: 58px;
  background-color: #111;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.checkbox-label {
  cursor: pointer;
  transition: all 0.4s ease;
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  top: 4px;
  left: 4px;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.checkbox-label::after {
  position: absolute;
  top: 6px;
  left: 6px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.checkbox:checked + .checkbox-label {
  left: 54px;
}

.checkbox:checked + .checkbox-label:after {
  background: #27ae60;
}

.checkbox:checked main {
  color: black;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1050;
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.modal__active {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s;
}

.modal__content {
  transform: translateX(-150%);
  width: 500px;
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  transition-delay: 0.6s;
  background-color: #fff;
  transition: all 0.6s;
  margin-top: 10%;
}
.modal__content input {
  margin-top: 20px;
}
.modal__content .save {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
  border: 1px solid;
  -o-border-image: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
     border-image: linear-gradient(44deg, rgb(255, 255, 255), rgb(239, 208, 208));
  box-shadow: 0px 0px 6px 0px;
  margin-top: 20px;
}

.modal__content.active {
  transition-delay: 0.5s;
  transform: translateX(0%);
  transition: all 0.6s;
  position: relative;
}

.m-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  justify-content: center;
  cursor: pointer;
}
.m-menu p {
  margin-top: 40px;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #000;
}
.line.first__line {
  transform-origin: 50%;
  transform: rotate(52deg);
}
.line.last__line {
  transform: rotate(321deg);
  transform-origin: 50%;
}/*# sourceMappingURL=style.css.map */