#profile table tbody tr td
  padding-top: 5px
  padding-bottom: 5px
  font-size: 13px
  &:first-child
    width: 45px

.text-warning th
  vertical-align: baseline
  padding: 0 3px
  font-size: 13px
  text-align: center

.card-header.card-header-tabs.card-header-success
  padding: 10px 15px !important

.card .card-header.card-header-tabs .nav-tabs-title
  padding-top: 0
  padding-bottom: 0
.card-body
  padding-top: 10px
  padding-bottom: 10px

.table > tbody > tr > td
  padding: 2px
.table > thead > th
  padding: 2px

.operated
  text-decoration: line-through
  color: #3f3f3366

.novalues
  background-color: #ff00001c

.mdc-data-table__cell
  font-size: 13px
  padding: 0 5px
  text-align: center

.mat-mdc-table .mdc-data-table__row
    height: auto

.col-org, .col-name, .col-address
  width: 20%

.form-check
  margin: 0
  .form-check-sign
    padding-right: 0

.form-check .form-check-label
    padding-left: 33%
    padding-bottom: 10%

.mdc-data-table__cell,
.mdc-data-table__header-cell
  border-right-width: 1px
  border-right-style: solid
  border-right-color: rgba(0, 0, 0, 0.12)

$indent: 20px
$bg-color:  rgba(255, 153, 0, 1)
$shadow: 0px 0px 5px rgb(0 0 0 / 14%)
$orange: #FF9900
$main-background-color: #E7E7E7
$header-top-color: #F8F8F8
$black: #000000
$gray: #7D7D7D
$medium-text: 18px
$search-field-height: 54px



.mat-focused
  border: none

.not-found
  margin-top: 30px
  font-size: 20px
  color: rgba(74,74,74,0.98)
  text-align: center

tr.pointer
  cursor: pointer
  transition: all .3s ease-in-out
  &:hover
    transition: all .3s ease-in-out
    background-color: rgba(200, 200, 200, 0.2)
    color: #3C4858
    box-shadow: none
.table-responsive
  height: 60vh
  overflow: auto
  padding: 10px 10px
  top: -10px
  &::-webkit-scrollbar
    width: 3px
    background-color: transparent
  &::-webkit-scrollbar-thumb
    background-color: transparent
    background-color: $bg-color
    border-radius: 3px

.mat-mdc-paginator
    position: sticky
    bottom: -10px

.main-panel > .content
    margin-top: 0
    padding: 5px 0
.table__col
  padding: 0

