@import '../../assets/styles/_variables'

.bg__wrapper
    height: 386px
    background-image: url(../../assets/images/panda.png)
    background-repeat: no-repeat
    background-size: cover
    background-position-y: -198px
    @media screen and ( max-width: 1210px )
        height: 39vw
        background-size: 151%
        background-position-y: -172px
        background-position-x: -133px
    @media screen and ( max-width: 740px )
        height: 57.7vw
        background-size: 215%
        background-position-y: -130px
        background-position-x: -275px
    @media screen and ( max-width: 520px )
        height: 69vw
        background-size: 234%
        background-position-y: -54px
        background-position-x: -142px

    