<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<mat-dialog-content class="dialog__content">
  <form [formGroup]="addForm" class="add__form">
    <fieldset>
      <mat-form-field>
        <mat-label>{{ ColumnsNames.number }}</mat-label>
        <input
          matInput
          #number
          type="text"
          name="listnumber"
          formControlName="listnumber"
          required
          [(ngModel)]="addForm.value.listnumber"
          (blur)="number.value.trim().length === 0 ? addForm.value.listnumber = null : addForm.value.listnumber = number.value.trim()"
        >
        <button *ngIf="addForm.value.listnumber" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.listnumber='' ">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="addForm.get('listnumber')?.errors?.['required']">
          Поле обязательно для заполнения
        </mat-error>
        <mat-hint *ngIf="number.value.trim().length === 0">Поле не должно быть пустым</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата постановки на учет (для изменения даты нажмите на иконку календаря)</mat-label>
        <mat-datepicker-toggle matIconPrefix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp disabled="false"></mat-datepicker>
        <input
          readonly="true"
          matInput
          [matDatepicker]="dp"
          formControlName="date"
          [max]="this.getMaxDate(this.date)"
          required
          (click)="dp.open()"
          >
          <!--TODO readonly="true" - блокирует ввод даты с клавиатуры, (click)="dp.open" - открывает календарь по клику на инпут -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input
          matInput
          #_lastname
          type="text"
          name="lastname"
          formControlName="lastname"
          required
          [(ngModel)]="addForm.value.lastname"
          (blur)="_lastname.value.trim().length === 0 ? addForm.value.lastname = '' : addForm.value.lastname = _lastname.value.trim()[0].toUpperCase() + _lastname.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.lastname" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.lastname=''">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-error *ngIf="addForm.get('lastname')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
        <mat-hint *ngIf="_lastname.value.trim().length === 0">Поле не должно быть пустым</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input
          matInput
          #_name
          type="text"
          name="name"
          formControlName="name"
          required
          [(ngModel)]="addForm.value.name"
          (blur)="_name.value.trim().length === 0 ? addForm.value.name = '' : addForm.value.name = _name.value.trim()[0].toUpperCase() + _name.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.name" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.name=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="addForm.get('name')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
        <mat-hint *ngIf="_name.value.trim().length === 0">Поле не должно быть пустым</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input
          matInput
          #_fathername
          type="text"
          name="fathername"
          formControlName="fathername"
          [(ngModel)]="addForm.value.fathername"
          (blur)="_fathername.value.trim().length === 0 ? addForm.value.fathername = '' : addForm.value.fathername = _fathername.value.trim()[0].toUpperCase() + _fathername.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.fathername" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.fathername=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.address }}</mat-label>
        <input
          matInput
          #_address
          type="text"
          name="address"
          formControlName="address"
          required
          [(ngModel)]="addForm.value.address"
          (blur)="_address.value.trim().length === 0 ? addForm.value.address = '' : addForm.value.address = _address.value.trim()"
          >
        <button *ngIf="addForm.value.address" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.address=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="addForm.get('address')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
        <mat-hint *ngIf="_address.value.trim().length === 0">Поле не должно быть пустым</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Год рождения</mat-label>
        <input
        matInput
        type="number"
        name="birthday"
        formControlName="birthday"
        required>
        <mat-error *ngIf="addForm.get('birthday')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="sex">
        <mat-label>{{ ColumnsNames.sex }}</mat-label>
        <mat-radio-button id="radio1" value="м" matInput>Мужской</mat-radio-button>
        <mat-radio-button id="radio2" value="ж" matInput>Женский</mat-radio-button>
      </mat-radio-group>


    </fieldset>

    <fieldset>
      <mat-form-field>
        <mat-label>Информация об оперативном вмешательстве</mat-label>
        <input
          matInput
          #_operdate
          type="text"
          name="operDate"
          formControlName="operdate"
          [(ngModel)]="addForm.value.operdate"
          (blur)="_operdate.value.trim().length === 0 ? addForm.value.operdate = '' : addForm.value.operdate = _operdate.value.trim()[0].toUpperCase() + _operdate.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.operdate" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.operdate=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.diag }}</mat-label>
        <input
          matInput
          #_diag
          type="text"
          name="diag"
          formControlName="diag"
          required=""
          [(ngModel)]="addForm.value.diag"
          (blur)="_diag.value.trim().length === 0 ? addForm.value.diag = '' : addForm.value.diag = _diag.value.trim()[0].toUpperCase() + _diag.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.diag" matSuffix mat-icon-button aria-label="Clear" (click)="addForm.value.diag=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="addForm.get('diag')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
        <mat-hint *ngIf="_diag.value.trim().length === 0">Поле не должно быть пустым</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.side }}</mat-label>
        <input
          matInput
          #_side
          type="text"
          name="side"
          formControlName="side"
          [(ngModel)]="addForm.value.side"
          (blur)="_side.value.trim().length === 0 ? addForm.value.side = '' : addForm.value.side = _side.value.trim()[0].toUpperCase() + _side.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.side" matSuffix mat-icon-button aria-label="Clear" (click)="addForm.value.side=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.group }}</mat-label>
        <input
          matInput
          #_invalidgroup
          type="text"
          name="invalidgroup"
          formControlName="invalidgroup"
          [(ngModel)]="addForm.value.invalidgroup"
          (blur)="_invalidgroup.value.trim().length === 0 ? addForm.value.invalidgroup = '' : addForm.value.invalidgroup = _invalidgroup.value.trim()[0].toUpperCase() + _invalidgroup.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.invalidgroup" matSuffix mat-icon-button aria-label="Clear"
          (click)="addForm.value.invalidgroup=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.note }}</mat-label>
        <input
          matInput
          #_info
          type="text"
          name="info"
          formControlName="info"
          [(ngModel)]="addForm.value.info"
          (blur)="_info.value.trim().length === 0 ? addForm.value.info = '' : addForm.value.info = _info.value.trim()[0].toUpperCase() + _info.value.trim().slice(1)"
          >
        <button *ngIf="addForm.value.info" matSuffix mat-icon-button aria-label="Clear" (click)="addForm.value.info=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.type }}</mat-label>
        <mat-select name="type" formControlName="type">
          <mat-option *ngFor="let item of types" [value]="item.type">{{item.type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ ColumnsNames.org }}</mat-label>
        <mat-select name="org" formControlName="org">
          <mat-option *ngFor="let item of orgs" [value]="item.orgname">{{item.orgname}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="check">
        <label for="isOperated" class="checked">
          Прооперирован (либо исключен из очереди по иным причинам)
        </label>
        <input type="checkbox" id="isOperated" name="isOperated" [checked]="patient.isOperated !== '0'"
          (change)="checkbox($event)">
      </div>

    </fieldset>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="row">
    <div class="col-md-12">
      <button
        *ngIf="windowType === 'edit'"
        type="submit"
        class="btn"
        mat-raised-button
        color="primary"
        (click)="onEdit()"
        [disabled]="!this.addForm.valid
          || (this.addForm.value.listnumber).trim().length === 0
          || (this.addForm.value.lastname).trim().length === 0
          || (this.addForm.value.name).trim().length === 0
          || (this.addForm.value.address).trim().length === 0
          || (this.addForm.value.birthday).toString().trim().length === 0
          || (this.addForm.value.diag).trim().length === 0
          ">
          Изменить данные</button>
        <button *ngIf="windowType === 'edit'" mat-raised-button color="warn" (click)="onDelete()">Удалить пациента</button>

        <button
        *ngIf="windowType === 'add'"
        type="submit"
        class="btn"
        mat-raised-button
        color="primary"
        (click)="onAdd()"
        [disabled]="!this.addForm.valid
          || (this.addForm.value.listnumber).trim().length === 0
          || (this.addForm.value.lastname).trim().length === 0
          || (this.addForm.value.name).trim().length === 0
          || (this.addForm.value.address).trim().length === 0
          || (this.addForm.value.birthday).toString().trim().length === 0
          || (this.addForm.value.diag).trim().length === 0
          ">
          Добавить пациента</button>
        <button mat-raised-button (click)="onCancel()">Отмена</button>
    </div>
  </div>
</mat-dialog-actions>
