<div class="container">
  <!-- <h2>Здравствуйте!</h2> -->
  <h2>На данной странице вы можете узнать свой номер в очереди на эндопротезирование крупных суставов.</h2>
  <h4>Для того чтобы узнать свой номер в очереди Вам необходимо указать: </h4>
  <ul>
    <li>Организацию здравоохранения, в которой Вы стали на очередь.</li>
    <li>Вид сустава</li>
    <li>Номер Вашего листка ожидания.</li>
  </ul>

  <h4>Также обращаем внимание, что: </h4>
  <ul>
    <li>Полученная информация носит справочный характер и не может быть использована для подтверждения какого-либо факта, имеющего юридическое значение.</li>
    <li>Результаты поиска информации не содержат персональные данные физических лиц.</li>
  </ul>
  <p>Нажмите далее, чтобы узнать свой номер в очереди.</p>
  <button mat-raised-button color="accent" class="next-btn" [routerLink]="['', 'queue']">Далее</button>
</div>
