.container
  flex-direction: column
  padding-top: 100px
.button-group
  display: flex
  input.btn
    width: 300px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
