@font-face 
    font-family: 'Montserrat'
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@357&display=swap')

$mainFontColor: rgb(96, 96, 110)
%wrappers
  max-width: 1300px
  display: flex
  flex-direction: column
  margin: 0 auto

%headers
  font-family: "Montserrat", sans-serif
  font-weight: 700
  color: $mainFontColor
  line-height: 1.333
  text-align: center
  text-transform: uppercase
  position: relative
  z-index: 5
%headersBefore
  content: ''
  position: absolute
  width: 68px
  height: 22px
  z-index: -1
  bottom: 0
  background: rgba(123, 238, 199, 1)
%paragraphs
  text-align: center
  color: $mainFontColor
  font-family: 'Open Sans', sans-serif
  line-height: 1.714
  font-size: 14px
  margin-top: 13px
  word-spacing: 1px
*
  margin: 0
  padding: 0

.home
  width: 100%
  height: 500px
.weDo
  width: 100%
    
.home__wrapper
  @extend %wrappers
  height: 100%
  background: url('../assets/bg.png')
  header
    display: flex
    justify-content: space-between
    padding: 40px 80px 35px 80px
    .logo
      font-family: "Montserrat", sans-serif
      font-weight: bold
      font-size: 18px
      color: $mainFontColor
      text-transform: uppercase
    .header__navigation 
      width: 30px 
      height: 15px
      ul
        display: none
      .navigation__menu
        display: flex
        flex-direction: column
        height: 100%
        justify-content: space-between
      span
          height: 1px
          background-color: $mainFontColor
          &:nth-child(1)
            width: 31px
          &:nth-child(2)
            width: 15px
          &:nth-child(3)
            width: 23px
.home__greeting
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: -webkit-fill-available
  flex-grow: 1
  h2, h3
    @extend %headers
  h2
    font-size: 36px
  h3
    font-size: 14px
    margin-top: 15px
  
.weDo__wrapper
  @extend %wrappers
  padding-top: 143px
  .weDo__header
    display: flex
    flex-direction: column
    align-items: center
    h2
      @extend %headers
      font-size: 30px
      letter-spacing: 1px
      &:before
        @extend %headersBefore

    p
      max-width: 725px
      @extend %paragraphs
      

.weDo__content
  display: flex
  padding: 95px 80px
  gap: 20px

.content__description
  color: $mainFontColor
  font-family: 'Open Sans', sans-serif
  line-height: 2.222
  font-size: 14px
  p
    margin-top: -10px
.content__image
  // width: 554px
  height: 364px
.content__lists
  margin-top: 30px
  display: flex
  gap: 20px
  ul
    flex-basis: 50%
    list-style-type: none
    padding-left: 20px
    li
      position: relative
      line-height: 2.2
      ion-icon
        position: absolute
        top: calc(50% - 6px)
        left: -25px
        fill: rgba(123, 238, 199, 1)

.weDo__benefits
  padding: 60px 80px
  gap: 35px
  display: flex
  justify-content: space-between
  .benefit
    display: flex
    flex-direction: column
    align-items: center
    .benefit__icon
      width: 53px
      height: 53px
      position: relative
      ion-icon
        font-size: 54px
        font-weight: 100
      &::before
        position: absolute
        content: ''
        width: 51px
        height: 21px
        background-color: rgba(123, 238, 199, 1)
        bottom: 0
        left: -10px
    h4
      @extend %headers
      font-size: 18px
      margin-top: 25px
    p
      @extend %paragraphs
      line-height: 2.143
      margin-top: 6px
    

ion-icon
  color: $mainFontColor

