<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-offset-5">
    <div class="jumbotron">
      <form  [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="on">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" formControlName="email" class="form-control input-sm">
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" name="password" id="password" formControlName="password" class="form-control input-sm">
        </div>
        <button type="submit" class="btn btn-success">Войти</button>
      </form>
    </div>
  </div>
  <div class="col-md-5"></div>
</div>
