<div class="wrapper dashboard__wrapper">
  <app-menu
    (selectOz)="onSelectOz($event)"
    [ozArray] = "Oz"
    [selectedOrg]="currentOrg"
    ></app-menu>
  <app-content
    [types]="typesArr"
    [patients]="tempArr"
    (updatePatient)="updPatient($event)"
    (deletePatient)="delPatient($event)"
    (selectOz)="onSelectOz($event)"
    (outListnumberFilterValue)="onFilterPatientsByListNumber($event)"
    (outTypeFilterValue)="onFilterPatientsByType($event)"


  >
<!-- TODO updatePatient - переменная из компонента content -->
<!-- TODO updPatient - метод из класса dashboard -->
</app-content>
</div>
