$fullwidth: 100%
$contentwidth: 1160px
$orang: #f9804b
$orang2: #fe9013
$orangehover: #E47209

$orangeborder1: #fa6f32
$orangeborder2: #fe9013
$greenavtive: #4B9200
$yellow: #ffee2e
$linear-background: linear-gradient(to left, $orang2, $orang)
$textcolor: #333b41
$bgc-property: background-image
$indent: 79px
$transition-time: 0.5s
$gradient1: rgba(254, 189, 171, 0.74)
$gradient2: rgba(243, 169, 248, 0.66)
$gradient3: #E0D8F0
$gradient4: #EAF7FE
$gradient5: #EAF7FE
$gradientBackground: linear-gradient(315.75deg, $gradient1 30.06%, $gradient2 50.74%, $gradient3 80.49%, $gradient4 127.9%, $gradient5 149.54%)


%wrapper-container
    width: $fullwidth
    display: flex
%flex-container
    width: $contentwidth
    display: flex
%grid-container
    width: $contentwidth
    display: grid
%button
    width: 298px
    height: 54px
    background: $linear-background
    color: white
    border-radius: 25px
    border: none
    outline: none
    padding: 0
    align-self: center
    text-transform: uppercase
    font-size: 16px
    font-weight: 500
    line-height: 22px
    transition: $transition-time background
    &:hover
        transition: $transition-time background
        background: linear-gradient(to left, $orangehover)
        cursor: pointer
    &:active
        transition: $transition-time background
        background: $greenavtive

%round-button
    width: 62px
    height: 62px
    border-radius: 50%
    background: $linear-background
    color: white
    outline: none
    border: none
    position: absolute
    top: calc(50% - 31px)
    transition: $transition-time background
    &:hover
        transition: $transition-time background
        background: linear-gradient(to left, $orangehover)
        cursor: pointer
    &:active
        transition: $transition-time background
        background: $greenavtive

