.pets__container {
    width: 1160px;
    display: -ms-grid;
    display: grid;
  }
  .pets-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../../../assets/imgs/backgrounds_imgs/palm_photo.png") -589px bottom no-repeat, url("../../../assets/imgs/backgrounds_imgs/strelitzia_photo.png") right bottom no-repeat;
    background-size: auto, auto;
  }

  .pets-section__container {
    height: 872px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 79px;
  }

  .pets-section__container.wrapper {
    position: relative;
    /* width: 1160px; */
    /* height: 100%; */
    margin: 0 auto;
  }

  .arrow-right__btn, .arrow-left__btn {
    z-index: 2;
    position: absolute;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    border: 0;
  }
  
  .arrow-right__btn:hover, .arrow-left__btn:hover {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(#E47209));
    background: linear-gradient(#E47209);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  
  .arrow-right__btn:active, .arrow-left__btn:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#4B9200));
    background: linear-gradient(#4B9200);
  }
  
  .arrow-right__btn {
    right: -81px;
  }
  
  .arrow-left__btn {
    left: -81px;
  }

  .pets-carousel {
    height: 873px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0%;
  }
  .carousel__container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .pet-card__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    justify-content: space-around;
  }

  .next-card,
.active-card {
  display: flex;
}

.pets-carousel {
  height: 873px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0%;
}
.carousel__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.pet-card__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  justify-content: space-around;
}
.next-card,
.active-card {
  display: flex;
}
.next-card {
  position: absolute;
  top: 0px;
  width: 100%;
}

.to-left {
  animation-name: left;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0px;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}

@media (max-width: 1340px) {
  .pet-card__container {
    row-gap: 163px;
  }
}

@media (max-width: 960px) {
  .pet-card__container {
    row-gap: 100px;
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  .pet-img {
    width: 285px;
    height: 285px;
  }
  .arrow-right__btn {
    right: 224px;
  }
  .arrow-left {
    left: 224px;
  }
}

@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

html {
  background: url("../../../assets/imgs/Giant_panda.jpg") no-repeat;
  background-size: 100% 780px;
  background-position-x: 0px;
}

ul {
  list-style-type: none;
}

.wrapper {
  position: relative;
  width: 1160px;
  height: 100%;
  margin: 0 auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: none;
}

.footer-social__mobile {
  display: none;
}

.backstage-section__text-container > .backstage-btn {
  display: none;
}

.footer-logo__container {
  display: none;
}

.header {
  height: 80px;
  width: 100%;
  background-color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.header-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 63px;
}

.header-ul, .footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link, .footer-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link:hover, .footer-nav__link:hover {
  color: #FE9013;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-nav {
  margin-left: -2px;
}

.h1-wrapper {
  position: relative;
  width: 82px;
  height: 52px;
  border: 0.5px solid #FFFFFF;
  border-radius: 2px;
  text-align: center;
}

.h1-wrapper > h1 {
  margin-top: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.bamboo-svg {
  position: absolute;
  bottom: 8px;
  left: 10px;
}

.header-link, .header-nav__link, .footer-nav__link, .footer-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  color: #FE9013;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-nav__link__active, .footer-nav__link__active {
  color: #FE9013;
}

.favorite-animal__section {
  height: 700px;
}

.orange-background {
  position: absolute;
  top: 12px;
  right: 108px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favorite-animal__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.favorite-animal__caption, .favorite-span {
  position: relative;
  top: 74px;
  left: 82px;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
}

.favorite-animal__caption {
  margin-left: 18px;
  color: #FFFFFF;
}

.favorite-span {
  color: #FFEE2E;
}

.btn {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#E47209));
  background: linear-gradient(#E47209);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#4B9200));
  background: linear-gradient(#4B9200);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.favorite-section__btn {
  position: absolute;
  top: 534px;
  left: 176px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.backstage-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 79px;
}

.backstage-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-bottom: 75px;
  background: url("../../../assets/imgs/flower_photo1.jpg") right 13px no-repeat;
}

.backstage-section__text-container {
  max-width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.backstage-h2, .backstage-h4, .backstage-p, .peek-and-feed-h4 {
  font-style: normal;
  font-weight: 400;
  color: #333B41;
}

.backstage-h2 {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 22px;
}

.backstage-h4, .peek-and-feed-h4 {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}

.backstage-p__first, .backstage-p__second {
  font-size: 16px;
}

.backstage-p__first {
  line-height: 130%;
  margin-bottom: 4px;
}

.backstage-p__second {
  line-height: 140%;
}

.old-sian-man {
  width: 609px;
  height: 403px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url("../../../assets/imgs/bamboo_cap.jpg");
}

.pets-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../../assets/imgs/backgrounds_imgs/palm_photo.png") -589px bottom no-repeat, url("../../../assets/imgs/backgrounds_imgs/strelitzia_photo.png") right bottom no-repeat;
  background-size: auto, auto;
}

.pets-section__container {
  height: 872px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 79px;
}

.pet__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pet__container:hover {
  cursor: pointer;
}

.pet__container:hover .pet-img {
  scale: 1.03;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  -webkit-transition: 0.5s scale ease;
  transition: 0.5s scale ease;
  -webkit-transition: 0.5s -webkit-filter ease;
  transition: 0.5s -webkit-filter ease;
  transition: 0.5s filter ease;
  transition: 0.5s filter ease, 0.5s -webkit-filter ease;
}

.pet__container:hover .pet-text__container {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
}

.pet__container:hover .pet-p {
  color: #FFFFFF;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
}

.pet__container:hover h5 {
  color: #FFFFFF;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
}

.pet-description__container {
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pet-text__container {
  padding-bottom: 10px;
  padding-left: 4px;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.pet-p {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.pet-food__icon {
  margin-bottom: 6px;
  margin-right: 2px;
}

.pet-block, .step-img__container {
  border: 1px solid orange;
  border-radius: 5px;
}

.pet-img {
  border-radius: 5px;
  width: 364px;
  height: 366px;
}

.arrow-right__btn, .arrow-left__btn {
  z-index: 2;
  position: absolute;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  border: 0;
}

.arrow-right__btn:hover, .arrow-left__btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#E47209));
  background: linear-gradient(#E47209);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.arrow-right__btn:active, .arrow-left__btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#4B9200));
  background: linear-gradient(#4B9200);
}

.arrow-right__btn {
  right: -81px;
}

.arrow-left__btn {
  left: -81px;
}

.pets__btn {
  background-color: #FE9013;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.pets-section__background {
  position: absolute;
  bottom: 0px;
}

.palm-photo {
  left: 0px;
}

.strelitzia-photo {
  right: 0px;
}

.peek-and-feed__section {
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.peek-and-feed__container {
  padding-top: 41px;
  padding-bottom: 59px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peek-and-feed-h2 {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
}

.peek-and-feed-text__container {
  padding-left: 38px;
  color: #333B41;
  margin-bottom: 60px;
}

.peek-and-feed-h4 {
  margin-bottom: 42px;
}

.peek-and-feed-p__bold, .peek-and-feed-p {
  font-size: 16px;
  line-height: 130%;
}

.peek-and-feed-p {
  font-weight: 400;
}

.peek-and-feed-p__bold {
  font-weight: 500;
  margin-bottom: 10px;
}

.peek-and-feed-link {
  border-bottom: 1px solid #FE9013;
  color: #333B41;
  text-decoration: none;
}

.peek-and-feed-h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 38px;
}

.how-it-works__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.step__container {
  width: 168px;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.step-img__container {
  width: 168px;
  height: 168px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step-span {
  line-height: 140%;
}

.step-next-arrow {
  margin-bottom: 82px;
  width: 71px;
  height: 37px;
  background: url("../../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
}

.peek-and-feed__btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
}

.testimonials-section__container {
  overflow: hidden;
}

.testimonials-section {
  background: url("../../../assets/imgs/backgrounds_imgs/leav_photo.png") no-repeat;
  background-position: calc(100% + 81px) 508px;
}

.testimonials-h2 {
  margin-top: 140px;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
}

.feedbacks__container {
  width: 1160px;
  height: auto;
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 28px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  left: 0px;
}

.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 268px;
  height: 391px;
  border-radius: 20px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.feedback-background {
  width: 264px;
  height: 387px;
  border-radius: 18px;
  background-color: #F1F3F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.feedback-user {
  margin-top: 15px;
  margin-left: 16px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-name {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.feedback-user__info {
  margin-left: 10px;
}

.location__container {
  color: #BDBDBD;
}

.feedback-comment {
  margin-left: 16px;
  margin-right: 12px;
}

.feedback-statusbar {
  margin: 0 auto 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 599px;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.feedback-statusbar-background {
  -webkit-appearance: none;
  width: 597px;
  height: 6px;
  border-radius: 3px;
  background-color: #F5F7F6;
}

.feedback-statusbar-background::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 12%;
  border-radius: 15%;
  background-color: #FE9013;
}

.feedback-statusbar-background::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.feedback-statusbar-background::-webkit-slider-runnable-track {
  width: 2px;
}

.statusbar-position {
  width: 115px;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;
}

.statusbar-position:hover {
  cursor: pointer;
  background-color: #E47209;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}

.feedback-btn, .donate-btn {
  margin-bottom: 180px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  border-radius: 5px;
}

.footer {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-top__container {
  margin-top: 40px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer-logo__link {
  margin-bottom: 30px;
}

.label-mail-input {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.mail-input__container {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mail-input {
  padding-left: 10px;
  width: 216px;
  height: 40px;
  border: 1px solid transparent;
  /*Обводка нужной толщины, но прозрачная*/
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  /*Нужный градиент в качестве фона*/
  -webkit-box-shadow: inset 0px 0px 0px 100vw #000000;
          box-shadow: inset 0px 0px 0px 100vw #000000;
  /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
  border-radius: 2px;
  color: #FFFFFF;
}

.footer-submit-form:valid .mail-submit-btn {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.footer-submit-form:invalid .mail-submit-btn {
  border: 1px solid #D31414;
  color: #D31414;
}

.mail-submit-btn {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.mail-submit-btn:hover {
  cursor: pointer;
}

.donate-btn {
  margin-bottom: 44px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.social__container:hover .icon__container {
  background: #4B9200;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.social__container:hover .social-name {
  color: #4B9200;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.social-name {
  margin-bottom: -3px;
}

.footer-social__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.icon__container {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav {
  margin-left: 119px;
}

.footer-designed-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-designed-link:hover {
  text-decoration: underline;
  color: #4B9200;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-designed-link__content {
  display: block;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
}
/*# sourceMappingURL=style.css.map */

@media (max-width: 1599px) {
  .pets-section {
    padding-bottom: 41px;
    background: url(../../../assets/imgs/backgrounds_imgs/palm_photo.png) -218px bottom no-repeat, url(../../../assets/imgs/backgrounds_imgs/strelitzia_photo.png) right bottom no-repeat;
    background-size: 27% 22%, 20% 20%;
  }
}

@media (max-width: 1340px) {
  html {
    background: url("../../../assets/imgs/Giant_panda.jpg") no-repeat;
    background-size: 120% 584px;
    background-position-x: -100px;
  }
  .wrapper {
    width: 940px;
  }
  .header-ul, .footer-ul {
    gap: 48px;
  }
  .favorite-animal__section {
    height: 504px;
    overflow: hidden;
  }
  .favorite-section__btn {
    top: 415px;
    left: 109px;
  }
  .orange-background {
    top: -12px;
    right: 147px;
    width: 367px;
    height: 367px;
  }
  .favorite-animal__caption, .favorite-span {
    top: 56px;
    left: 65px;
    font-size: 85px;
    line-height: 75%;
  }
  .backstage-section {
    background: none;
    padding-bottom: 64px;
    padding-bottom: 53px;
    margin-bottom: 88px;
  }
  .backstage-section__text-container {
    max-width: 455px;
  }
  .backstage-section__container {
    margin-top: 40px;
  }
  .backstage-h4 {
    margin-bottom: 32px;
  }
  .backstage-p__second {
    padding-right: 10px;
  }
  .old-sian-man {
    width: 455px;
    height: 416px;
    background-position: -75px 9px;
    background-repeat: no-repeat;
    background-size: 134% 98%;
  }
  .pet-img {
    width: 294px;
    height: 294px;
  }
  .pets-section {
    padding-bottom: 41px;
    background: url(../../../assets/imgs/backgrounds_imgs/palm_photo.png) -196px bottom no-repeat, url(../../../assets/imgs/backgrounds_imgs/strelitzia_photo.png) right bottom no-repeat;
    background-size: 39% 19%, 24% 17%;
  }
  .arrow-right__btn {
    right: 322px;
  }
  .arrow-left__btn {
    left: 322px;
  }
  .peek-and-feed__section {
    padding-top: 30px;
    padding-bottom: 49px;
  }
  .peek-and-feed__container {
    padding-top: 30px;
    padding-bottom: 51px;
  }
  .peek-and-feed-h2 {
    margin-bottom: 21px;
  }
  .peek-and-feed-h4 {
    margin-bottom: 21px;
  }
  .peek-and-feed-p, .peek-and-feed-p__bold {
    padding-right: 90px;
  }
  .peek-and-feed-text__container {
    padding-left: 49px;
    margin-bottom: 41px;
  }
  .how-it-works__container {
    margin-bottom: 70px;
  }
  .testimonials-section {
    background-position-y: 436px;
  }
  .testimonials-h2 {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .feedbacks__container {
    max-height: 391px;
  }
  .feedback-content {
    width: 293px;
  }
  .feedback-background {
    width: 291px;
  }
  .feedback-statusbar {
    margin: 0 auto 53px auto;
  }
  .feedback-btn {
    margin-bottom: 139px;
  }
  .footer-container {
    margin-left: 31px;
    margin-right: 64px;
    margin-bottom: 10px;
  }
  .footer-designed-link {
    margin-right: -31px;
    margin-left: 26px;
  }
}

@media (max-width: 1000px) {
  .testimonials-section {
    background-position: calc(100% - -68px) 506px;
    background-size: 27% 43%;
  }
  .feedback-statusbar {
    width: 390px;
  }
  .feedback-statusbar-background {
    width: 389px;
  }
}
/*# sourceMappingURL=small_desktop.css.map */

@media (max-width: 960px) {
  .wrapper {
    width: 640px;
  }

  .pets-section__container {
    max-height: 810px;
    overflow: hidden;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  

@media (max-width: 639px) {
  .wrapper {
    width: 400px;
  }
  
  .arrow-left__btn {
    display: none;
  }
  .arrow-right__btn {
    display: none;
  }
  .testimonials-section {
    background: url(../../../assets/imgs/backgrounds_imgs/leav_photo.png) right 523px no-repeat;
    background-size: 26% 30%;
  }
  .pets-section__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 1410px;
    gap: 20px;
  }
  .first-arrow {
    left: 132px;
    top: 491px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .last-arrow {
    left: 132px;
    top: 211px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .peek-and-feed-h2 {
    text-align: center;
  }
  .footer-top__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .footer-social {
    display: none;
  }
  .footer-social__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donate-btn__link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer-bottom__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-designed-link {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 10px;
  }
  .footer-logo__link {
    margin-bottom: 10px;
  }
  .donate-btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .backstage-section {
    background: url("../../../assets/imgs/flower_photo1.jpg") 431px -5px no-repeat;
    background-size: 39% 98%;
  }
  .backstage-h2 {
    font-size: 24px;
  }
}

@media (max-width: 515px) {
  .pets-section {
    background-position: -263px bottom, right bottom;
    background-size: 343px 149px, 27% 6%;
  }
}

@media (max-width: 465px) {
  html {
    background: url("../../../assets/imgs/Giant_panda.jpg") no-repeat;
    background-size: 120% 187px;
    background-position-x: -65px;
    background-position-y: 34px;
  }
  .backstage-section {
    background: url("../../../assets/imgs/flower_photo1.jpg") 375px -5px no-repeat;
    background-size: 54% 98%;
  }
  .wrapper {
    width: 300px;
  }
  .peek-and-feed__section > .wrapper {
    width: 300px;
  }
  .favorite-section__btn {
    left: -132px;
    top: 127px;
  }
  .favorite-animal__section {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .backstage-section {
    background: url("../../../assets/imgs/flower_photo1.jpg") 320px -5px no-repeat;
  }
  .pets-section {
    background-size: 44% 6%, 33% 7%;
    background-position: -74px bottom, right bottom;
  }
  .testimonials-section {
    background: url(../../../assets/imgs/backgrounds_imgs/leav_photo.png) right 575px no-repeat;
    background-size: 26% 19%;
  }
  .footer-designed-link {
    margin: 10px 0px;
  }
}

@media (max-width: 350px) {
  .backstage-section {
    background: url("../../../assets/imgs/flower_photo1.jpg") 292px -5px no-repeat;
  }
}

@media (max-width: 320px) {
  html {
    background: url("../../../assets/imgs/Giant_panda.jpg") no-repeat;
    background-size: 120% 187px;
    background-position-x: -31px;
    background-position-y: 34px;
  }
  .orange-background > .favorite-section__btn {
    display: none;
  }
  .orange-background {
    right: 28px;
    top: 22px;
  }
  .backstage-section__text-container > .backstage-btn {
    display: block;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    margin-bottom: 30px;
  }
  .backstage-section__text-container > .backstage-btn:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#4B9200));
    background: linear-gradient(#4B9200);
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .backstage-p__second {
    padding-right: 6px;
  }
  .favorite-animal__section {
    height: 187px;
  }
  .backstage-section {
    padding-top: 0px;
  }
  .backstage-section__container {
    margin-top: 20px;
  }
  .backstage-h2 {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .backstage-p__first {
    margin-bottom: 21px;
  }
  .backstage-h4 {
    margin-bottom: 9px;
    margin-left: 0px;
  }
  .backstage-section {
    padding-bottom: 22px;
  }
  .backstage-section {
    background: url("../../../assets/imgs/flower_photo1.jpg") 289px 14px no-repeat;
    background-size: 21% 46%;
  }
  .pet-block {
    height: 330px;
  }
  .pets-section__container {
    max-height: 1403px;
  }
  .pets-section {
    background: url(../../../assets/imgs/backgrounds_imgs/palm_photo.png) -80px bottom no-repeat, url(../../../assets/imgs/backgrounds_imgs/strelitzia_photo.png) 244px 1452px no-repeat;
    background-size: auto 72px, 30% 5%;
    padding-bottom: 0px;
  }
  .peek-and-feed-h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .peek-and-feed__container {
    padding-top: 22px;
  }
  .peek-and-feed-h4 {
    font-size: 18px;
    text-align: center;
  }
  .peek-and-feed-text__container {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .peek-and-feed-p__bold, .peek-and-feed-p {
    display: none;
  }
  .peek-and-feed-h3 {
    font-size: 24px;
  }
  .how-it-works__container {
    margin-right: 0px;
  }
  .step-img__container {
    width: 166px;
    height: 166px;
    margin-bottom: 8px;
  }
  .how-it-works__container {
    gap: 0px;
    margin-bottom: 20px;
  }
  .last-arrow {
    left: 136px;
    top: 186px;
    -webkit-transform: rotate(90deg);
    transform: rotate(84deg);
  }
  .first-arrow {
    left: 135px;
    top: 435px;
    -webkit-transform: rotate(90deg);
    transform: rotate(84deg);
  }
  .peek-and-feed__btn {
    margin-bottom: 38px;
  }
  .peek-and-feed__section {
    padding-bottom: 19px;
  }
  .testimonials-h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 18px;
  }
  .feedback-background {
    width: 98.5%;
  }
  .feedback-user {
    margin-top: 9px;
  }
  .feedbacks__container {
    margin-bottom: 27px;
  }
  .feedback-comment {
    margin-bottom: 12px;
  }
  .feedback-btn {
    margin-bottom: 60px;
  }
  .testimonials-section {
    background: url(../../../assets/imgs/backgrounds_imgs/leav_photo_mobile.png) 269px 516px no-repeat;
    background-size: 16% 16%;
  }
  .footer-logo__link {
    display: none;
  }
  .footer-logo__container {
    display: block;
    color: #FFFFFF;
    font-size: 19px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .footer-top__container {
    margin-top: 21px;
  }
  .footer__bamboo-svg {
    position: relative;
    top: -25px;
    left: 72px;
  }
  .footer-social__mobile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-bottom: 21px;
  }
  .footer-designed-link {
    margin: 6px 0px 32px 0;
    font-weight: 100;
    font-size: 15px;
    line-height: 120%;
  }
  .donate-btn {
    margin-bottom: 0px;
  }
  .footer-bottom__container {
    margin-bottom: 12px;
  }
  .footer-ul {
    gap: 30px;
  }
}
/*# sourceMappingURL=mobile.css.map */

