/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.sass"
$bg-color1: rgb(166 89 15)
$bg-color2: rgb(212 83 2)
$text-hover: rgb(255 228 196)
$main-color: rgb(238 238 238)
$gradient: linear-gradient(135deg, $bg-color1, $bg-color2)
body
  height: 100vh
  & *
    user-select: none
.container
  display: flex
  flex-direction: row
  h3 a
    font: 400 16px/28px Roboto, sans-serif
    letter-spacing: .009375em
    text-decoration: none
    color: $main-color
    &:hover
      transition: 0.5s all
      cursor: pointer
      color: $text-hover

  h3:hover
    transition: 0.5s all
    cursor: pointer
    color: $text-hover

  .menu
    display: flex
    align-items: baseline
    justify-content: space-between
    width: 100%
    ul
      display: flex
      list-style-type: none
      padding: 0
      margin: 0
      gap: 15px
      li a
        color: $main-color
        &:hover
          transition: 0.5s all
          cursor: pointer
          color: $text-hover
  // ul
.wrapp
  position: fixed
  z-index: 9999
  top: 0
  right: 0
  left: 0
  color: $main-color
  background: red
  height: 70px
  display: flex
  align-items: center
  background: $gradient
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f
  h3
    margin: 0
    padding: 0

  li.active a
    color:  $text-hover !important
    font-weight: bold
    cursor: default !important
    opacity: 1
