<div class="main__content">
<div class="content__wrap">
  <div class="wrap">
    <h1>
       <div class="content">
        <span>
          {{hi}} <br>
        </span>
        <span>
          {{name}} <br>
        </span>
        <span>
          {{description}}
        </span>
      </div>
      <div class="content" *ngFor="let div of arr; let  i = index" aria-hidden="true">
        <span>
          {{hi}} <br>
        </span>
        <span>
          {{name}} <br>
        </span>
        <span>
          {{description}}
        </span>
      </div>
    </h1>
  </div>
  </div>
</div>
