#profile table tbody tr td
  padding-top: 5px
  padding-bottom: 5px
  font-size: 13px
  &:first-child
    width: 45px

.text-warning th
  vertical-align: baseline
  padding: 0 3px
  font-size: 13px
  text-align: center

.card-header.card-header-tabs.card-header-success
  padding: 10px 15px !important

.card .card-header.card-header-tabs .nav-tabs-title
  padding-top: 0
  padding-bottom: 0
.card-body
  padding-top: 10px
  padding-bottom: 10px

.table > tbody > tr > td
  padding: 2px
.table > thead > th
  padding: 2px

.operated
  text-decoration: line-through
  color: #3f3f3366

.novalues
  background-color: #ff00001c

.mdc-data-table__cell
  font-size: 13px
  padding: 0 5px
  text-align: center

.col-org, .col-name
  width: 15%

.form-check
  margin: 0
  .form-check-sign
    padding-right: 0

.form-check .form-check-label
    padding-left: 33%
    padding-bottom: 10%

.mdc-data-table__cell,
.mdc-data-table__header-cell
  border-right-width: 1px
  border-right-style: solid
  border-right-color: rgba(0, 0, 0, 0.12)

$indent: 20px
$bg-color:  rgba(255, 153, 0, 1)
$shadow: 0px 0px 5px rgb(0 0 0 / 14%)
$orange: #FF9900
$main-background-color: #E7E7E7
$header-top-color: #F8F8F8
$black: #000000
$gray: #7D7D7D
$medium-text: 18px
$search-field-height: 54px

label
  display: flex
  align-items: center
  color: black
  letter-spacing: 0.05rem
  height: 20px
  vertical-align: middle
  &:hover
    cursor: pointer
input[type="checkbox"]
  -webkit-appearance: none
  outline: none
  position: relative
  top: 0
  width: 40px
  height: 40px
  margin-left: 7px
  &:hover
    cursor: pointer
  &:checked
    color: $bg-color
  &:disabled
    color: $gray
  &::before
    content: ''
    position: absolute
    top: 10px
    right: 0
    height: 50%
    width: 50%
    border: 1px solid grey
    border-radius: 50%
    transition: all .3s ease-in-out
    box-shadow: 0px 0px 3px $bg-color
input:checked[type='checkbox']:before
  border-top: none
  border-left: none
  width: 50%
  border-color: $bg-color
  border-width: 3px
  border-radius: 2px
  transform: translateY(-30%) rotate(45deg)
  box-shadow: none
label:has(input:checked[type='checkbox'])
  color: $bg-color
label:has(input:disabled[type='checkbox'])
  border-color: $gray
input:disabled[type='checkbox']:before
  border-color: $gray

.mat-focused
  border: none
