<div class="about__container">
  <div class="about__wrapper">
    <h1>
      Позвольте немного рассказать о себе.
    </h1>
    <p>Меня зовут Виталий. Мне 37 лет и я junior frontend developer.</p>
    <p>В данный момент я решил сменить сферу деятельности и заняться frontend разработкой.</p>
    <p>Мой путь изучения веб технологий начался в 2017 году. С того времени с переменными упехом и усилиями, с перерывами до нескольких лет, я так или иначе продолжаю знакомиться с технологиями frontend разработки.</p>
    <p>Серьезно углубился в извучение FE в 2021 году.</p>
    <p>Прошел следующие этапы обучения:</p>
    <p>Курс по FE Stage#0 в Rolling Scopes School</p>
    <p>Внешний треннинг в компании epam</p>
    <p>Лаборатория в компании epam</p>
    <p>В данный момент прохожу обучение в RSSchool Stage#2</p>
    <p></p>
  </div>
</div>
