.range-wrap {
    --left: 0%;
    position: relative; display: block;
    height: 35px; max-width: 100%;
    overflow: hidden; resize: horizontal; /* Для проверки адаптивности */
  }
  
  .range-wrap::before,
  .range-wrap::after {
    content: ''; will-change: padding-left, padding-right;
    position: absolute; 
    z-index: -1; 
    top: 0; 
    left: 0;
    display: block; 
    height: 35px; 
    width: 100%;
    box-sizing: border-box;
    background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 5px 50%;
    background-repeat: no-repeat; 
    background-clip: content-box;
    transition: 0.3s linear; 
    pointer-events: none;
  }
  .range-wrap::before {
    padding-left: var(--left, 0%);
    background-image: radial-gradient( circle at 8px 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), radial-gradient( circle at calc(16.66666666666667% + (16px / 3)) 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), radial-gradient( circle at calc(33.33333333333333% + (16px / 6)) 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), radial-gradient( circle at calc(50% - 0px) 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), radial-gradient( circle at calc(66.66666666666667% - (16px / 6)) 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), radial-gradient( circle at calc(83.33333333333333% - (16px / 3)) 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), radial-gradient( circle at calc(100% - 8px) 50%, #fff 5px, #999 6px, #999 7px, #fff0 8px), linear-gradient(#999, #999);
    background-size: auto, auto, auto, auto, auto, auto, auto, calc(100% - 10px) 2px;
  }
  .range-wrap::after {
    padding-right: calc(100% - var(--left, 0%));
    background-image: radial-gradient( circle at 8px 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), radial-gradient( circle at calc(16.66666666666667% + (16px / 3)) 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), radial-gradient( circle at calc(33.33333333333333% + (16px / 6)) 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), radial-gradient( circle at calc(50% - 0px) 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), radial-gradient( circle at calc(66.66666666666667% - (16px / 6)) 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), radial-gradient( circle at calc(83.33333333333333% - (16px / 3)) 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), radial-gradient( circle at calc(100% - 8px) 50%, #40c34e 5px, #fff 6px, #fff 7px, #fff0 8px), linear-gradient(#40c34e, #40c34e);
    background-size: auto, auto, auto, auto, auto, auto, auto, calc(100% - 10px) 4px;
  }
  
  [type="range"] {
    margin: 0; padding: 0;
    height: 100%; width: 100%;
    box-sizing: border-box; opacity: 0;
  }