<div class="container">

  <mat-stepper orientation="vertical" class="stepper" [linear]="true" #stepper>
    <mat-step [stepControl]="orgFormGroup.controls.org" label="Организация здравоохранения" class="step">
      <form [formGroup]="orgFormGroup">
        <mat-form-field appearance="fill" class="form-field">
          <mat-select placeholder="Выберите организацию*" required formControlName="org">
            <mat-option [value]="user.shortName" *ngFor="let user of usersInfo"> {{ user.fullName }} </mat-option>
          </mat-select>
          <mat-error *ngIf="orgFormGroup.controls.org.invalid">Пожалуйста, выберите организацию</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" class="next-btn" matStepperNext
            [disabled]="orgFormGroup.controls.org.invalid" (click)="getQuery('org')">Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="orgFormGroup.controls.type" label="Вид протезирования" class="step">
      <form [formGroup]="orgFormGroup">
        <mat-form-field appearance="fill" class="form-field">
          <mat-select placeholder="Выберите вид протезирования*" required formControlName="type">
            <mat-option [value]="ProstheticsType.teks"> {{ ProstheticsType.teks }} </mat-option>
            <mat-option [value]="ProstheticsType.tets"> {{ ProstheticsType.tets }} </mat-option>
          </mat-select>
          <mat-error *ngIf="orgFormGroup.controls.type.invalid">Пожалуйста, выберите вид протезирования</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" class="next-btn" matStepperNext
            [disabled]="orgFormGroup.controls.type.invalid" (click)="getQuery('type')">Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="orgFormGroup.controls.number" label="Номер листа ожидания" class="step">
      <form [formGroup]="orgFormGroup">
        <mat-form-field appearance="fill" class="form-field">
          <input formControlName="number" type="text" matInput required placeholder="Введите номер листа ожидания">
          <mat-error *ngIf="orgFormGroup.controls.number.invalid">Пожалуйста, введите номер листа ожидания</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" class="next-btn" matStepperNext
            [disabled]="orgFormGroup.controls.number.invalid" (click)="getQuery('number')" >Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="orgFormGroup.controls.date" label="Дата постановки на очередь" class="step">
      <form [formGroup]="orgFormGroup">
        <mat-form-field appearance="fill" class="form-field" id="dateField">
          <mat-label>Выберите дату постановки на очередь</mat-label>
          <mat-datepicker-toggle matIconPrefix [for]="dp"> </mat-datepicker-toggle>
          <mat-datepicker #dp disabled="false"></mat-datepicker>
          <input hidden type="date" placeholder="{{selected | date: 'dd.MM.YYYY'}}"  [(ngModel)]="selected"  matInput [matDatepicker]="dp" formControlName="date">
          <mat-hint> Выбранная Вами дата: {{ selected | date: 'dd.MM.YYYY'}}</mat-hint>
            <!-- <mat-calendar [(selected)]="selected" formControlName="date">

            </mat-calendar>
            <p>Дата: {{ selected  }}</p> -->

        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" class="next-btn" matStepperNext
            [disabled]="orgFormGroup.controls.date.invalid" (click)="getQuery('date')" (click)="getResult()">Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Результат</ng-template>
      <div *ngIf="patient">
        <!-- {{showResult(patient)}} -->
        <h3>Уважаемый(ая) {{ patient.fio.split(' ')[0] + ' ' + patient.fio.split(' ')[1] }}
        </h3>
        <div *ngIf="patient.org === 'калинковичи'; else full">
          <h4>Ваш номер в очереди на эндопротезирование в Учреждении &laquo;{{this.patient.org2}}&#187;:
            <strong>{{this.number + 1}}</strong>
          </h4>
        </div>
        <ng-template #full>
          <h4>Ваш номер в очереди на эндопротезирование в Учреждении &laquo;{{this.patient.orgFullInfo.fullName}}&#187;:
            <strong>{{this.number + 1}}</strong>
          </h4>
          <button mat-raised-button color="accent" (click)="stepper.reset()" (click)="updateValues()">Повторить поиск</button>
        </ng-template>
      </div>
      <div *ngIf="!patient">
        К сожалению ничего не найдено. Пожалуйста проверьте данные, которые Вы ввели
        <button mat-raised-button color="accent" (click)="stepper.reset()" (click)="updateValues()">Попробовать заново</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>
