<div class="container">

  <mat-dialog-content>
    <div>
      <h1 mat-dialog-title>Редактировать данные</h1>
    </div>

    <mat-form [formGroup]="addForm" class="form" appearance="fill">
      <!-- <div class="row"> -->
      <div class="input-container">
        <div class="col-md-12">
          <input matInput placeholder="ID" class="form-control" type="text" formControlName="id" style="display: none">
        </div>
      </div>

      <mat-form-field class="input-container">
        <mat-label>{{ ColumnsNames.number }}</mat-label>
        <input matInput class="form-control" placeholder="Номер листка ожидания" type="text" name="listnumber"
          formControlName="listnumber">
        <mat-error *ngIf="addForm.get('listnumber')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Для выбора даты нажмите на иконку календаря</mat-label>
        <mat-datepicker-toggle matIconPrefix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp disabled="false"></mat-datepicker>
        <input matInput [matDatepicker]="dp" formControlName="date" [max]="this.getMaxDate(this.date)">
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Фамилия</mat-label>
        <input class="form-control" type="text" name="lastname" formControlName="lastname" matInput>
        <mat-error *ngIf="addForm.get('lastname')?.errors?.['required']">Поле обязательно для заполнения</mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Имя</mat-label>
          <input class="form-control" type="text" name="name" formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Отчество</mat-label>
          <input class="form-control" type="text" name="fathername" formControlName="fathername" matInput>
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>{{ ColumnsNames.address }}</mat-label>
          <input class="form-control" type="text" name="address" formControlName="address" matInput>
      </mat-form-field>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.sex }}</mat-label>
        <div class="col-md-6">
          Мужской <input type="radio" name="sex" formControlName="sex" value="м">
          Женский <input type="radio" name="sex" formControlName="sex" value="ж">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.birthday }}</mat-label>
        <div class="col-md-6">
          <input class="form-control" type="date" name="birthday" formControlName="birthday">
        </div>
      </div>

      <div class="input-container">
        <mat-label>Прооперирован</mat-label>
        <div class="col-md-6">
          <input type="checkbox" name="isOperated" [checked]="this.patient_isOperated" (change)="checkbox($event)">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.operDate }}</mat-label>
        <div class="col-md-6">
          <input class="form-control" type="date" name="operDate" formControlName="operdate">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.diag }}</mat-label>
        <div class="col-md-6">
          <input class="form-control" type="text" name="diag" formControlName="diag">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.side }}</mat-label>
        <div class="col-md-6">
          <input class="form-control" type="text" name="side" formControlName="side">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.group }}</mat-label>
        <div class="col-md-6">
          <input class="form-control" type="text" name="invalidgroup" formControlName="invalidgroup">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.note }}</mat-label>
        <div class="col-md-6">
          <input class="form-control" type="text" name="info" formControlName="info">
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.type }}</mat-label>
        <div class="col-md-6">
          <select class="form-select" name="type" formControlName="type">
            Выберите тип протезирования:
            <option *ngFor="let item of types" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="input-container">
        <mat-label>{{ ColumnsNames.org }}</mat-label>
        <div class="col-md-6">
          <select class="form-select select" name="org" formControlName="org">
            Выберите тип протезирования:
            <option *ngFor="let item of orgs" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
      <!-- </div> -->

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" (click)="onEdit()" [disabled]="!this.addForm.valid">Изменить
            данные</button>
        </div>
      </div>
    </mat-form>
  </mat-dialog-content>
</div>
