<div class="container">
  <div>
    <h1>Add new patient</h1>
  </div>

  <form [formGroup]="addForm" novalidate class="form">
    <div class="row">

      <div class="col-md-6">List number</div>
      <div class="col-md-6"></div>

      <div class="col-md-6">Date</div>
      <div class="col-md-6"></div>

      <div class="col-md-6">Last Name</div>
      <div class="col-md-6"></div>

      <div class="col-md-6">Name</div>
      <div class="col-md-6"></div>

      <div class="col-md-6">Father Name</div>
      <div class="col-md-6"></div>

      <div class="col-md-6">Sex</div>
      <div class="col-md-6"></div>

      <div class="col-md-6">Last Name</div>
      <div class="col-md-6"></div>

    </div>


  </form>
</div>
